.row {
    display: flex;
}

.tile {
    border: 1px solid #444;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.highlight {
    background-color: #0f0;
}